doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Play|Press+Start+2P|Share+Tech+Mono|VT32')
  body
    block content