extends layout

block content
	link(rel='stylesheet', href='/stylesheets/rpg.css')
	div#gameContainer

	script(src="/javascripts/rpg/events.js")
	script(src="/javascripts/rpg/map.js")
	script(src="/javascripts/rpg/console.js")
	script(src="/javascripts/rpg/controls.js")
	script(src="/javascripts/rpg/interface.js")
	script(src="/javascripts/rpg/player.js")
	script(src="/javascripts/rpg/main.js")