body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #000;
	font-family: "Brush Script MT", cursive;
	color: #fff;
}

#game{
	padding:20px;
}

#gameContainer{
	width: 680px;
}

#map{
	width: 320px;
	height: 320px;
	border: 1px solid skyblue;
	display: inline-block;
	float: left;
	position: relative;
}

.row{
	width: 100%;
	height: 32px;
	list-style-type: none;
	padding: 0;
	margin: 0;
}


.row .tile{
	width: 32px;
	height: 32px;
	float: left;
	background-image: url('/images/basic.png');
	background-position: -64px 0;
	/*box-shadow: inset 0px 0px 0px 1px black;*/
}

.row .wall {
	background-position: -32px 0;
}

.row .you{
	background-position: -224px 0;
}

.row .tile_1{
	background-position: 0 0;
}

.row .tile_2{
	background-position: -32px 0;
}

.row .tile_3{
	background-position: -64px 0;
}

.row .tile_4{
	background-position: -96px 0;
}

.row .tile_5{
	background-position: -128px 0;
}

.row .tile_6{
	background-position: -160px 0;
}

.row .tile_7{
	background-position: -192px 0;
}

.row .tile_8{
	/*Character tile takes priority*/
	background-position: -224px 0 !important;
}
/*Entities*/
#entities{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

/* Player styling */
#player{
	width: 32px;
	height: 32px;
	background-color: blue;
	position: absolute;
	z-index: 999;
}

.selector{
	box-shadow: inset 0px 0px 0px 1px green;
}


/* Status Inerface */
#statusPanel{
	width: 320px;
	height: 100px;
	border: 5px ridge silver;
	padding: 10px;
	float: left;
}

#healthMeter{
	background-image: url('/images/heart2.png');
	background-repeat: repeat-x;
	width: 60px;
	height: 7px;
}

/* Control interface */
#controls{
	background-color: #000;
	color: #fff;
	width: 320px;
	height: 162px;
	border: 5px ridge silver;
	display: inline-block;
	margin: 0;
	padding: 10px;
	float: left;
}

#controls > div {
	width: 50%;
	height: 100%;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

#controls > div:first-child > button {
	width: 50px;
	height: 50px;
}

#controls > div:last-child > button {
	padding: 15px;
}

#upArrowButton, #downArrowButton{
	display: block;
	margin: 0 auto;
}

#leftArrowButton, #rightArrowButton{
	display: inline-block;
	margin: 5px;
}

#checkButton, #invButton{
	display:block;
	margin: 5px;
}



/* Console styling */
#console{
	background-color: #000;
	color: #fff;
	width: 662px;
	height: 200px;
	border: 5px ridge silver;
	display: inline-block;
	margin: 0;
	padding: 10px 0;
	list-style-type: none;
	overflow-y: scroll;
	float: left;
}

#console li{
	font-size: 14px;
	padding: 2px 10px;
}

#console li:nth-child(even){
	background-color: #212f3c;
}

/* Message types */
.message.warning{
	color: orange;
}

.message.error{
	color: red;
}

